<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>

    <add name="SurveyDB" connectionString="workstation id=doubtfulsurvey.mssql.somee.com;packet size=4096;user id=sawabedarain_SQLLogin_1;pwd=etc4rmrog1;data source=doubtfulsurvey.mssql.somee.com;persist security info=False;initial catalog=doubtfulsurvey;TrustServerCertificate=True" 

    providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" defaultUrl="~/Login.aspx" timeout="30" />
    </authentication>
    
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <!-- Role-based access control -->
  <location path="Builder">
    <system.web>
      <authorization>
        <allow roles="SurveyBuilder" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Surveyor">
    <system.web>
      <authorization>
        <allow roles="Surveyor" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="SurveyAdministrator" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
